@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.design-description {
    padding: 50px 0;
}

.wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.title {
    line-height: 150px;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.line {
    margin: 0 auto;
    margin-bottom: 40px;
    height: 1px;
    width: 170px;
    background-color: #EC7979;
}

.subtitle {
    line-height: 21px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
}

.design-content {
    margin-top: 110px;
}

.design-card {
    display: inline-block;
    width: 370px;
}

.card_image {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border: 1px solid #EC7979;
    border-radius: 50%;
}

.image1 {
    padding-top: 8px;
    padding-left: 7px;
}

.design-card--center {
    margin: 0 24px;
    display: inline-block;
    width: 370px;
}

.image2 {
    padding-top: 22px;
    padding-left: 12px;
}

.image3 {
    padding-top: 12px;
    padding-left: 24px;
}

.design-card_title {
    margin-top: 40px;
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    line-height: 100px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.design-card_subtitle {
    padding: 5px;
    line-height: 21px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000000;
}

.pricing-options {
    padding: 50px 0;
    background: #F5F5F5;}

.pricing-content {
    margin-top: 60px;
}

.pricing-card {
    width: 370px;
    display: inline-block;
}

.pricing-card--center {
    margin: 0 24px;
}

.pricing-list--shadow {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.pricing-list__item {
    width: 368px;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #F5F5F5;
    color: #86878B;
    background: #FFFFFF;
}

.pricing-list__item--rate {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 58px;
    text-align: center;
    border: 1px solid #F5F5F5;
    color: #FFFFFF;
    background: #333333;
}

.pricing-list__item--price {
    font-weight: 700;
    font-size: 36px;
    line-height: 98px;
    text-align: center;
    border: 1px solid #F5F5F5;
    color: #FFFFFF;
    background: #333333;
}

.pricing-list__item--date {
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #F5F5F5;
    color: #FFFFFF;
    background: #333333;
}

.pricing-list__item--offset {
    line-height: 1px;
    opacity: 0.0;
}

.informative-tabs {
    padding-top: 100px;
    padding-bottom: 50px;
}

.tabs {
    display: flex;
}

.tabs__button {
    width: 184px;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    background-color: #FFFFFF;
    border: none;
}

.tabs__button--current {
    margin-bottom: -1px;
    width: 203px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;

}

.tab-information {
    display: flex;
    justify-content: space-between;
    border: 1px solid #C6CBCD;
}

.tab-content {
    margin-left: 100px;
    width: 570px;
}

.tab-content__title {
    margin-bottom: 27px;
    font-family: 'Open Sans', sans-serif;
    line-height: 124px;
    font-weight: 700;
    font-size: 30px;
}

.tab-content__subtitle {
    margin-bottom: 27px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.tab-content__button {
    display: flex;
    justify-content: center;
    width: 270px;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 58px;
    font-weight: 600;
    font-size: 18px;
    background-color: #EC7979;
    color: #FFFFFF;
}

.tab-image--offset {
    margin-bottom: -4px;
}