@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-content__logo {
    padding: 20px 0;
    margin-left: -52px;
}

.navigation-list {
    display: flex;
    padding: 20px 0;
    line-height: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
} 

.navigation-list li {
    width: 114px;
    text-align: center;
}

.navigation-list__item a {
    color: #FFFFFF;
}

.social-media {
    background-color: #F8EFEF;
}
.wrapper--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media__title h2 {
    margin-top: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
}

.social-media__subtitle {
    padding: 18px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.social-media-list {
    display: flex;
    text-align: center;
    font-size: 50px;
    color: #CCCCCC;
}

.social-media-list__item {
    text-align: center;
    width: 70px;
    margin-left: 30px;
    cursor: pointer;
}

.fa-brands:hover {
    transform: rotate(15deg);
    transition: 0.3s;
}

.fa-solid:hover {
    transform: rotate(-15deg);
    transition: 0.3s;
}

.fa-facebook-f:hover{
    color: rgb(81, 81, 235);
}

.fa-twitter:hover {
    color: rgb(90, 241, 241);
}

.fa-linkedin:hover {
    color: rgb(62, 98, 215);
}

.fa-pinterest:hover {
    color: rgb(231, 27, 9);
}

.fa-instagram:hover {
    color: #ff9c11;
}

.informative-tabs {
    padding-top: 100px;
    padding-bottom: 50px;
}

.fa-github:hover {
    color: #000000;
}

.fa-rss:hover {
    color: rgb(255, 162, 0);
}

.wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.tabs {
    display: flex;
}

.tabs__button {
    width: 184px;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    background-color: #FFFFFF;
    border: none;
}

.tabs__button--current {
    margin-bottom: -1px;
    width: 203px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;

}

.tab-information {
    display: flex;
    justify-content: space-between;
    border: 1px solid #C6CBCD;
}

.tab-content {
    padding-left: 100px;
    width: 670px;
}

.tab-content__title {
    margin-bottom: 27px;
    font-family: 'Open Sans', sans-serif;
    line-height: 124px;
    font-weight: 700;
    font-size: 30px;
}

.tab-content__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.tab-content__subtitle--offset {
    padding: 27px 0;
}

.tab-content__button {
    display: flex;
    justify-content: center;
    width: 270px;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 58px;
    font-weight: 600;
    font-size: 18px;
    background-color: #EC7979;
    color: #FFFFFF;
}

.tab-content__button:hover {
    background-color: #d33434;
    transition: 0.3s;
}

.tab-image--offset {
    display: block;
}

.design-description {
    padding: 50px 0;
}

.title {
    position: relative;
    line-height: 150px;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.title::after {
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background: #EC7979;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.subtitle {
    margin-top: 40px;
    line-height: 21px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
}

.design-content {
    margin-top: 110px;
}

.design-card {
    display: inline-block;
    width: 370px;
}

.card_image {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border: 1px solid #EC7979;
    border-radius: 50%;
}

.image1 {
    padding-top: 8px;
    padding-left: 7px;
}

.design-card--center {
    margin: 0 24px;
    display: inline-block;
    width: 370px;
}

.image2 {
    padding-top: 22px;
    padding-left: 12px;
}

.image3 {
    padding-top: 12px;
    padding-left: 24px;
}

.design-card_title {
    margin-top: 40px;
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    line-height: 100px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.design-card_subtitle {
    padding: 5px;
    line-height: 21px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000000;
}

.pricing-options {
    padding: 50px 0;
    background: #F5F5F5;}

.pricing-content {
    margin-top: 80px;
}

.pricing-card {
    width: 370px;
    display: inline-block;
}

.pricing-card--center {
    position: relative;
    margin: 0 25px;
    bottom: 20px;
}

.pricing-list--shadow {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.pricing-list__item {
    width: 368px;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #F5F5F5;
    color: #86878B;
    background: #FFFFFF;
}

.pricing-list__item--rate {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 58px;
    text-align: center;
    border: 1px solid #F5F5F5;
    color: #FFFFFF;
    background: #333333;
}

.pricing-list__item--price {
    font-weight: 700;
    font-size: 36px;
    line-height: 98px;
    text-align: center;
    border: 1px solid #F5F5F5;
    color: #FFFFFF;
    background: #333333;
}

.pricing-list__item--date {
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #F5F5F5;
    color: #FFFFFF;
    background: #333333;
}

.reviews {
    padding-top: 50px;
    padding-bottom: 64px;
}

.review-content {
    margin-top: 84px;
    display: flex;
    justify-content: space-between;
}

.review-card {
    width: 370px;
}

.review-card__text {
    position: relative;
    padding: 38px 16px;      
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    background-color: #E2E2E2;
    border-radius: 10px;
}

.review-card__text::before {
    position: absolute;
    content:"";
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    left: 70px;
    top: 180px;
}

.review-card__customer {
    display: flex;
    padding-top: 66px;
}

.customer-photo__item {
    height: 70px;
    width: 70px;
    border: 1px solid rgba(red, green, blue, 1);
    border-radius: 50%;
    overflow: hidden;
}

.customer-info {
    padding-left: 30px;
}

.customer-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 54px;
}

.customer-profession {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.stylish-design {
    position: relative;
    padding: 50px 0;
    background: url(../assets/img/banner-design.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stylish-design::after {
    content: "";
    position: absolute;
    background-image: url(../assets/img/bg.png);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
} 

.title--color {
    color: #FFFFFF;
    z-index: 2;
}

.title--color::after {
    background: #FFFFFF;
    z-index: 2;
}

.subtitle--color {
    position: relative;
    margin-top: 40px;
    line-height: 21px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    z-index: 2;
}

.stylish-design__btn {
    position: relative;
    display: block;
    margin: 72px auto 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 58px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    width: 370px;
    border: 2px solid #FFFFFF;
    z-index: 2;
}

.stylish-design__btn:hover {
    color: #b1a6a6;
    border: 2px solid #b1a6a6;
    transition: 0.3s;
}

.footer {
    background-color: #000000;
}

.footer-list {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.footer-list__item svg{
    fill: #CCCCCC;
    cursor: pointer;
    margin: 0 16px;
}

.footer-list__item svg:hover {
    fill: #c9a7a7;
    transform: scale(1.2, 1.2);
    transition: 0.3s;
}

.footer-list__item--fb svg:hover {
    fill: rgb(23, 23, 201);
}

.footer-list__item--tw svg:hover {
    fill: rgb(0, 213, 255);
}

.footer-list__item--in svg:hover {
    fill: rgb(80, 80, 224);
}

.footer-list__item--pn svg:hover {
    fill: #d33434;
}

.footer-list__item--inst svg:hover {
    fill: orange;
}

.footer-list__item--ghb svg:hover {
    fill: gray;
}

.footer-list__item--rss svg:hover {
    fill: orange;
}

.footer-subtitle {
    padding: 27px 0;
    margin-top: 0;
    color: #FFFFFF80;
}
